@import "../sass/variables-site/colors";

::-moz-selection {
	background: $color__theme-main;
}

::selection {
	background: $color__theme-main;
}
/* link color */
a {
	&:hover,
	&:focus,
	&:active {
		color: $color__theme-main;
	}
}

blockquote {
	&:before {
		color: $color__theme-main;
	}
	cite, a, span {
		color: $color__theme-main;
	}
}

.more-link {
	background: $color__theme-main;
	&:hover, &:focus, &:active:focus {
		background: rgba($color__theme-main, 0.8);
	}
} 
.small-border {
	background: $color__theme-main;
}

.ex-small-border::after {
	background: $color__theme-main;
}

.comment-reply-link {
	border-color: $color__theme-main;
	&:hover {
		background: $color__theme-main;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-color: $color__theme-main;
	&:hover {
		background: $color__theme-main
	}
}
.btn-search {
	background: $color__theme-main;
	&:focus, &:active:focus {
		background: $color__theme-main;
	}
}
.continue-read{
	color: $color__theme-main;
	&:hover {
		background: $color__theme-main;
		border-color: $color__theme-main;
	}
}
.go-button {
	&:hover {
		background: $color__theme-main;
	}
}

#featured-slider {
	.item .post-content .more-link-wrap .more-link {
		&:hover {
			background: $color__theme-main;
			border-color: $color__theme-main;
		}
	}
	.owl-controls .owl-nav div:hover i {
		color: $color__theme-main;
	}
} 
/* Menu */
.menu-list > li a:hover {
	color: $color__theme-main;
}
.menu-submenu > li > a:hover,
.menu-submenu .menu-submenu > li > a:hover,
.menu-submenu .menu-submenu .menu-submenu > li > a:hover {
	color: $color__theme-main !important;
}
.menu-list {
    > li.current-menu-item > a,
    > li.current-menu-ancestor > a {
        color: $color__theme-main !important;
    }
}
.menu-submenu .current-menu-item > a,
.current-menu-ancestor .current-menu-ancestor > a {
    color: $color__theme-main !important;
}

@media (max-width: 992px) {
	.menu-list {
		> ul > li:hover > a,
		> ul > li.active > a {
		  color: $color__theme-main !important;
		}
	}
}
.post-format {
	color: $color__theme-main;
}
/* featured area */
#featured-slider .item .post-content .more-link-wrap .more-link {
	color: $color__theme-main;
}
/* Main content */
.content-area {
	.entry-header {
		.entry-meta {
			a:hover {
				color: $color__theme-main;	
			}
		}		
	}
	.entry-content {
		.edit-link {
		    &:before {
				color: $color__theme-main;
		    }
		}
	}
	.entry-footer {
		.button:hover {
			background: $color__theme-main;
		}
		.comments-link:hover,
		.view-link:hover {
			color: $color__theme-main;
		}
		.share-area a span:hover {
			background: $color__theme-main;
			border-color: $color__theme-main;
		}
		.tags-links {
			span:before {
				color: $color__theme-main;
			}
		}
	}
	.format-link {
		.post-link {
			.icon-area i {
				color: $color__theme-main;
			}
		}
	}
	.format-quote .quote-icon a span::before,
	.format-quote .quote-icon a span::after {
		color: $color__theme-main;
	}
}

.content-area .grid {
	.entry-footer .share-area a:hover span {
		color: $color__theme-main !important;
	}
}
.single-post {
	.entry-content {
		.tag a:hover {
			background: $color__theme-main;
  			border-color: $color__theme-main;
		}
	}
	.entry-footer {
		.post-format {
			color: $color__theme-main;
		}
		.post-author a:hover {
			color: $color__theme-main;
		}
	}
}

/* pagination */
.navigation {
	.nav-links {
		> li {			
			&.active {
				a, span {
					background: $color__theme-main;
					border-color: $color__theme-main;
				}
			}
			a:hover {
				background: $color__theme-main;
				border-color: $color__theme-main;
			}
		}
		li:first-child.nav-previous a:hover,
		li:last-child.nav-next a:hover {
			color: $color__theme-main;
		}

	}
	> li.active a, > li.active span {
	  background: $color__theme-main;
	  border-color: $color__theme-main;
	}
	.nav-previous > a::after {
		background: $color__theme-main;
	}
	.nav-next > a::after {
		background: $color__theme-main;
	}
}


/* gallery */
.gallery-one .owl-controls .owl-nav div, 
.gallery-two .full-view .owl-controls .owl-nav div {
	color: $color__theme-main;
}
.gallery-one, .gallery-two {
	.owl-controls .owl-buttons div {
		span {
			color: $color__theme-main;
		}
	}
}
.gallery-two {
	.list-view {	
		.owl-controls .owl-buttons div {
			background: $color__theme-main;
		}
	} 
}
.author-info {
	.authors-social a:hover {
		color: $color__theme-main;
	}
}

.related-post .related-post-title span::before,
.related-post .related-post-title span::after,
.comments-area .comments-title span::before,
.comments-area .comments-title span::after, 
.comment-reply-title span::before,
.comment-reply-title span::after {
	color: $color__theme-main;
}  



/* Comments Section */


/* Widget */
.widget {
	.widget-title::before,
	.widget-title::after {
		color: $color__theme-main;
	}
}
.about-widget .more-link::after {
	background: $color__theme-main;
}
.follow-us-area {
	.follow-link .fa:hover {
		background: $color__theme-main;
		border-color: $color__theme-main;
	}
}
.item-meta, .popular-item-meta {
	a {
		color: $color__theme-main;
	}
}
.widget_categories li:hover > a, 
.widget_archive li:hover > a {
  color: $color__theme-main;
}

.widget_categories li:hover > .count, 
.widget_archive li:hover > .count {
  color: $color__theme-main;
}

.widget_categories li.current-cat > a, 
.widget_categories li.current-cat-parent > a, 
.widget_archive li.current-cat > a, 
.widget_archive li.current-cat-parent > a {
  color: $color__theme-main;
}
.widget_categories li.current-cat > .count, 
.widget_categories li.current-cat-parent > .count, 
.widget_archive li.current-cat > .count, 
.widget_archive li.current-cat-parent > .count {
  color: $color__theme-main;
}

.widget_tag_cloud .tagcloud a:hover {
  background: $color__theme-main;
  border-color: $color__theme-main;
}

.widget_calendar caption {
	background: $color__theme-main;
}
.widget_calendar tbody a {
  background: $color__theme-main;
}
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries {
	li {
		a:hover {
			color: $color__theme-main;
		}
		span:hover {
			&:before {
				color: $color__theme-main;
			}
		}
	}
}

.tp_recent_tweets li span a {
  	color: $color__theme-main;
}
.tp_recent_tweets li .twitter_time:before {
    color: $color__theme-main;
}
.tp_recent_tweets li .twitter_time {
  	color: $color__theme-main;
}
.widget_glimmer_aboutus_contact {
	.about-contact-area {
		h3 {
			span {
				color: $color__theme-main;
			}
		}
		.about-mail {
			i {
				color: $color__theme-main;
			}
		}
	}
}

.newsletter-area .form-newsletter {
	#mc-embedded-subscribe {
		&:after {
			background: $color__theme-main;
		}
		&:hover, &:focus, &:active:focus {
			color: $color__theme-main;
		}
	}
}

/* author page */
.about-me {

}

/* Footer */
#footer-top .widget .widget-title span::before,
#footer-top .widget .widget-title span::after {
	color: $color__theme-main;
}
#footer-middle {
	.widget_tag_cloud .tagcloud a {
		&:hover {
			border-color: $color__theme-main;
			background: $color__theme-main;
		}
	}
	.widget_categories ul li .count:hover, 
	.widget_archive ul li .count:hover {
		background: $color__theme-main;
		border: 1px solid $color__theme-main;
	}
}
.topbutton {
	color: $color__theme-main;
	border-color: $color__theme-main;
}